<main class="container">
  <%= link_to sanitize("&larr; Back to quotes"), quotes_path %>
  <div class="header">
    <h1>
      <% if @quote %>
        <%= @quote.name %>
      <% end %>
    </h1>
  </div>
</main>